
body{
    background-color: #F0F0F0;
    color: #555;
    position: 0;
        margin: 0;
  

}


/*Nav*/
nav{
  
    background-color: #A7E0E0;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    min-height: 10vh;
   

}
nav .logo{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
   
}


.nav-links{
    float: center;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
}


.nav-links li{
    list-style: none;
    padding: 20px;
    
}

a{
    color: #555;
    text-decoration: none;
}

.contact{
    margin-left: auto;
}


nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translateY(-50%);
    cursor: pointer;
    
    }
nav .icon-burger .line {
        width: 50px;
        height: 5px;
        margin: 5px;
        background-color: #555;
        border-radius: 3px;
        transition: all .3s ease-in-out;
        
    }
    #nav-toggle{
        position: absolute;
        top: -100px;
    }


    /*Cover*/

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }    

    .container img{
    width: 100%;
    height: 50vh;
    
 
   
   
}
.container p{
    margin-top: -200px;
    margin-right: 15em;
    width: 20%;
   
}


/*section*/

.container-principe{
    margin: 0 auto;
    max-width: 80em;
}

.container-principe h1{
    margin-top: 150px;
}
.principes{
    display: flex;
    margin-bottom: 150px;
}
.projet-grid{
    
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-top: 200px;
    margin-bottom: 100PX;
   
    
    
}

.box > img {
   
    width: 60%;
  
    

}

.box{
    padding: 15px;

    

}
.box:hover{
    transform: translate3d(12px, -10%, 3em);
}


/*footer*/

.footer{
    background-color: #585858;
    padding: 30px;
    
}

.footer-links{
font-size: 30px;
display: flex;
justify-content: space-around;
}

i{
    color: beige;
}



/*media-query*/
@media screen and (max-width : 888px) {
    .container p {
        margin-top: -250px;
        margin-right: 15em;
        width: 20%;
    }

}
@media screen and (max-width : 768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        height: 60vh;
        padding: 0;
        
    }

    .container img{
        width: 100%;
        height: 100vh;
    }
    
    .container p{
       
        margin-left: 50px;
        margin-right: 15em;
        width: 40%;
        
    }
    .container-principe h1{
        margin-top: 150px;
    }

    /*nav burger*/

    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .nav-links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 50px;
        bottom: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(85, 85, 85, 0.856);
        overflow: hidden;
        transition: all .5s ease-in-out;
        
    }
    .contact{
        margin-left: 0;
    }
    .nav-links a{
        color:white ;
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 3px;
        
    
    }

    nav :checked ~ .nav-links{
        bottom: 0;
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~
    .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
        
    }
    nav :checked ~
    .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
        
    }
    nav :checked ~
    .icon-burger .line:nth-child(2){
        opacity: 0;
        
    }

 

.nav-active{
    transform: translateY(0%);
}
    /*animation*/
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateY(50px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }

   
    @media screen and (max-width : 692px) {
        .principes{
            display: flex;
            flex-direction: column;
        }
    }

}

